<h1 style="color:blue;text-align:center;">Paradise Restaurant</h1>
<h3>Contact Us</h3>
<h4>Address :</h4>
SD Road,<br> 
Sappu Bagh Apaprtment,<br>
Jogani, Ramgopalpet,<br>
Secunderabad, Telangana 500003<br>
paradisefoodcourt.in<br>
Phone number :040 2784 3956<br>
Open now:  11AM–11PM <br>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d60889.17336069842!2d78.45460158980309!3d17.480123892172003!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9a0f8cf1fd1b%3A0x386e919f25da1d16!2sParadise!5e0!3m2!1sen!2sin!4v1534418621604" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>