
<div class="jumbotron">
  <h1 style="color:blue;text-align:center;">Paradise Restaurant</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <%=link_to "Menu",paradiseinfo_menu_path, class: "btn btn-primary btn-lg"%>
  <%=link_to "Contactus",paradiseinfo_contactus_path, class: "btn btn-primary btn-lg"%>
  </p>
</div>
